<tr>
  <td><%= @phone.phone_number %></td>
  <td><%= @phone.name %></td>
  <td><%= link_to 'Show', @phone %></td>
  <td><%= link_to 'Edit', edit_phone_path(@phone) %></td>
  <td><%= link_to 'Destroy', @phone, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
</tr>
